.container {
    border: 1px solid black;
    max-width: 500px;
    margin: 50px auto;
    padding: 24px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
}

.title {
    font-size: x-large;
    text-align: center;
    margin: 0 0 20px;
}